<section ng-controller='actividadesCtrl as $ctrl' >
  <div class="content">
    <header>
      <h1>Gestion de actividades</h1>
    </header>
    <div><button ng-click='fthide()'>Crear Actividad <i class="fa fa-plus-square-o" aria-hidden="true"></i> </button></div>
      <div ng-hide='thide'>
        <hr/>
        <div class='row uniform'>
        <div class='6u 12u$(xsmall)'><input type='text' ng-model='n.nombre' placeholder="Nombre de la actividad"/></div>
        <div class='12u'><input type='text' ng-model='n.descripcion' placeholder="Descripcion"/></div>
        <div class='12u'><input type='text' ng-model='n.lugar' placeholder="Lugar"/></div>
        <div class='6u 12u$(xsmall)'><input type='text' ng-model='n.plazas' placeholder="Numero de plazas"/></div>
        <div class='6u 12u$(xsmall)'><input type='text' ng-model='n.fecha' placeholder="Fecha"/></div>
        </div>
        <hr/>
        <button ng-click='actividades.activities.$add(n)'>Guardar</button>
      </div>
      <hr/>
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Lugar</th>
            <th>Plazas</th>
            <th>Fecha</th>
            <th>Modificar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='a in actividades.activities'>
            <td>{{a.nombre}}</td>
            <td>{{a.descripcion}}</td>
            <td>{{a.lugar}}</td>
            <td>{{a.plazas}}</td>
            <td>{{a.fecha}}</td>
            <td><a data-remodal-target="modalActivities" ng-click='setActivo(a) '>Modificar <i class="fa fa-pencil" aria-hidden="true"></i></a></td>
            <td><button ng-click='actividades.activities.$remove(a)'>Borrar <i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
          </tr>
          <!-- TODO crear aqui un modal para modficar la actividad -->
        </tbody>
      </table>
    </div>
  </div>
</section>
