<section>
  <div class="content">
    <header>
      <h1>Mis entrenamientos</h1>
    </header>
      <button ng-click='createSession()'>Crear Nueva sesion </button>
    <hr/>
    <h2>Selecionar la sesion a monitorizar</h2>
    <div class="6u 12u$(small)">

    </div>
    <select ng-model='active' ng-change='changeSession(active)'>
      <option ng-repeat='a in sesiones' value="{{a.$id}}">{{a.name}}</option>
    </select>
    <br ng-show='active'/>

    <hr/>

    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Peso</th>
            <th>Repeticiones</th>
            <th>Hecho</th>
            <th>Comentarios</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='a in ejercicios'>
            <td style="text-align:center; vertical-align: middle;">{{a.nombre}}</td>
            <td style="text-align:center; vertical-align: middle;">{{a.descripcion}}</td>
            <td style="text-align:center; vertical-align: middle;">{{a.peso}}</td>
            <td style="text-align:center; vertical-align: middle;">{{a.repeticiones}}</td>
            <td style="text-align:center; vertical-align: middle;"><div class='row uniform'>
              <div class="6u 12u$(small)">  <input type="checkbox" ng-model='a.hecho' ng-change='ejercicios.$save(a)' id="demo-copy" name="demo-copy">
            <label for="demo-copy">Hecho</label></div></div></td>
            <td  style="text-align:center; vertical-align: middle;"><div class='row uniform'><div class="8u 12u$(small)"><input type='text' ng-model='a.comentario' ng-change='ejercicios.$save(a)'></div></div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
